@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
  }
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background: #c2c2c4;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background: ;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: ;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); */
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 2px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: ;
  }

  .h-scrollbar::-webkit-scrollbar {
    height: 2px;
  }
  .h-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
  }
  .h-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #c2c2c4;
    border-radius: 1rem;
  }
  .h-scrollbar::-webkit-scrollbar-thumb:active {
    background: ;
  }
  .h-scrollbar::-webkit-scrollbar-thumb:hover {
    background: ;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .h-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
  }
  .h-scrollbar::-webkit-scrollbar-track:hover,
  .h-scrollbar::-webkit-scrollbar-track:active {
    background: ;
  }
}

/* removing outline of the react date picker while focus */
.customDatePickerOutline,
.customDatePickerOutline > div.react-datepicker-wrapper,
.customDatePickerOutline
  > div
  > div.react-datepicker__input-container
  .customDatePickerOutline
  > div
  > div.react-datepicker__input-container
  input:focus {
  outline: none;
}
.react-datepicker__input-container input:focus {
  outline: none;
}

/* decrease the with of the date picker input */
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 81px;
}

.react-datepicker__input-container {
  width: inherit;
}
.react-datepicker__input-container input {
  width: inherit;
}

.loader div {
  animation-duration: 0.9s;
}
.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
