**/build/
**/tests/__snapshots/
**/node_modules/
.tmp
/playground
**/__tests__/fixtures
**/__tests__/**/*/fixtures

/packages/*/dist/
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/build
/public/build
.env

/postgres-data

/app/styles/tailwind.css
**/prisma/zod/**
